* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

#root {
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}

.loader-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}

/**
  * follow-the-leader
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes follow-the-leader {
  0% {
    -webkit-transform: rotate(0deg) translateY(-200%);
            transform: rotate(0deg) translateY(-200%); }
  60%,
  100% {
    -webkit-transform: rotate(360deg) translateY(-200%);
            transform: rotate(360deg) translateY(-200%); } }
@keyframes follow-the-leader {
  0% {
    -webkit-transform: rotate(0deg) translateY(-200%);
            transform: rotate(0deg) translateY(-200%); }
  60%,
  100% {
    -webkit-transform: rotate(360deg) translateY(-200%);
            transform: rotate(360deg) translateY(-200%); } }

.follow-the-leader {
  height: 14px;
  position: relative;
  width: 14px; }
  .follow-the-leader div {
    -webkit-animation: follow-the-leader 1.875s infinite backwards;
            animation: follow-the-leader 1.875s infinite backwards;
    background-color: #ffffff;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%; }
    .follow-the-leader div:nth-child(1) {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s;
      background-color: rgba(255, 255, 255, 0.9); }
    .follow-the-leader div:nth-child(2) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
      background-color: rgba(255, 255, 255, 0.8); }
    .follow-the-leader div:nth-child(3) {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s;
      background-color: rgba(255, 255, 255, 0.7); }
    .follow-the-leader div:nth-child(4) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
      background-color: rgba(255, 255, 255, 0.6); }
    .follow-the-leader div:nth-child(5) {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s;
      background-color: rgba(255, 255, 255, 0.5); }

a.nav-link.active {
  color: white !important;
}

.gradient-text {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

h1 {
  font-size: 50px
}

p, button.accordion-button, button.accordion-button:not(.collapsed) {
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.502);
}

.text-justify {
  text-align: justify
}

a.nav-link, .Btn {
  font-weight: 500;
  line-height: 30px;
  color: #FFFFFF;
  margin-right: 15px;
}

.Btn, button.cardBtn, button.cardBtnFollowed, button.cardBtnUnfollowed, button.ctaBtn{
  padding: 10px 20px;
  width: 171px;
  height: 50px;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  border-radius: 10px;
  border: none;
}

button.cardBtnUnfollowed {
  background: transparent !important;
  border: 1px solid  #B75CFF !important
}

button.cardBtn, button.cardBtnFollowed, button.cardBtnUnfollowed {
  width: 100%;
}

button.ctaBtn {
  background: rgba(255, 255, 255, 0.5);;
}

.nftBtn {
  background: rgba(255, 255, 255, 0.1);
}

ul.nav-tabs {
  border: none;
}

li.nav-item:nth-of-type(2){
  margin-left: 18px;
}

li.nav-item:nth-of-type(3)  {
  margin: 0 18px
}

li.nav-item > button.nav-link, li.nav-item > button.active{
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: white !important;
}

li.nav-item > button.nav-link {
  background: rgba(255, 255, 255, 0.1);
}

li.nav-item > button.active {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
}

div.card {
  max-width: 368px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

div.swiper {
  height: 38em;
}

div.swiper-button-prev, div.swiper-button-next {
  color: #ffffff80;
}

span.swiper-pagination-bullet-active {
  background-color: white;
}

div.accordion-item, button.accordion-button {
  background: transparent !important;
  border: none;
}

div.accordion-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 !important;
}

button.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

button.accordion-button::after {
  background-image: url('./assets/images/icons8-plus-math-30.png');
}

button.accordion-button:not(.collapsed)::after {
  background-image: url('./assets/images/icons8-subtract-30.png');
}

@media (max-width: 567px) {
  h1 {
    font-size: 36px !important;
  }

  h1.ctaH1 {
    font-size: 32px !important;
  }

  p,
  button.accordion-button,
  button.accordion-button:not(.collapsed),
  li.nav-item > button.nav-link,
  li.nav-item > button.active {
    font-size: 16px;
  }

  .searchBar {
    width: 100%;
  }

  #nav-links, input[type=search]::placeholder, .Btn{
    font-size: 16px;
  }

  div.card {
    max-width: 330px;
  }
}
